*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
    background:#f4f6fb;
    color:#1f2937;
}

input,
textarea,
select{
    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:10px;
    outline:none;
    font-size:15px;
    margin-top:8px;
}

input:focus,
textarea:focus,
select:focus{
    border-color:#6d28d9;
}

button{
    cursor:pointer;
}

.page{
    max-width:1300px;
    margin:auto;
    padding:40px;
}

.section-title{
    font-size:34px;
    font-weight:bold;
    margin-bottom:10px;
}

.subtitle{
    color:#6b7280;
    margin-bottom:35px;
}

.card{
    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 8px 30px rgba(0,0,0,.08);
}

.grid{
    display:grid;
    gap:25px;
}

.two-col{
    grid-template-columns:1fr 2fr;
}