*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
    background:#eef2ff;
}

.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.auth-card{

    width:420px;

    background:white;

    border-radius:18px;

    padding:45px;

    box-shadow:0 12px 35px rgba(0,0,0,.08);

}

.auth-card h1{
    text-align:center;
    color:#4f46e5;
    margin-bottom:8px;
    font-size:38px;
}

.auth-card p{
    text-align:center;
    color:#6b7280;
    margin-bottom:35px;
}

.auth-card form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.auth-card input{

    padding:15px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:16px;

    transition:.25s;
}

.auth-card input:focus{

    outline:none;

    border-color:#4f46e5;

    box-shadow:0 0 0 4px rgba(79,70,229,.15);

}

.auth-card button{

    background:#4f46e5;

    color:white;

    border:none;

    padding:15px;

    border-radius:10px;

    font-size:17px;

    cursor:pointer;

    transition:.25s;

    margin-top:8px;
}

.auth-card button:hover{

    background:#4338ca;

}

.auth-footer{

    text-align:center;

    margin-top:25px;

    color:#6b7280;

}

.auth-footer a{

    text-decoration:none;

    color:#4f46e5;

    font-weight:600;

}

.auth-footer a:hover{

    text-decoration:underline;

}